@import './utils/fonts';
@import './utils/variables';

@import './base';

@import './utils/utils';

@import './components/buttons';
@import './components/links';
@import './components/header';
@import './components/hero-section';
@import './layouts/advantages-section';
@import './layouts/traditions-section';
@import './layouts/chefs-section';
@import './layouts/formats-section';
@import './components/carousel_button';
@import './layouts/contact-section';
@import './layouts/footer';
@import './layouts/modal';
@import './layouts/forms';
@import './layouts/section';
@import './layouts/container';
